@charset "utf-8";
/* CSS Document */

.space-no-color {
    height: 500px;
}

.space {
    height: 500px;
    background-color: pink;
}

.sauna-hero-section{
    background-color: aquamarine;
    
}

.sauna-video{
    width: 100%;
    height: auto;
}

.top-wave-bottom{
    position: relative;
    z-index: 200;
}






.marumaru-background-content {
    height: 500px;
}

/* 【1】2個、コンテンツが横並びになる */
/* クラス名のooをhtmlとcssで変更して各自設定する */
/* クラス名とroot内のoo、var()内のooを設定する */
:root {
    /* 合計が99％以下の場合、余った％がcontent間の隙間になる */
    /* 左のコンテンツのサイズ */
    --oo-content-left-width: 30%;
    /* 右のコンテンツのサイズ */
    --oo-content-rigth-width: 60%;
}

.oo-content-left {
    width: var(--oo-content-left-width);

    /* 左のコンテンツ */
    background-color: palevioletred;
}

.oo-content-right {
    width: var(--oo-content-rigth-width);

    /* 右のコンテンツ */
    background-color: rgb(0, 255, 42);
}

.oo-content-left,
.oo-content-right {
    height: 100px;
}


/* 【2】画像の挿入 */
/* クラス名のooをhtmlとcssで変更して各自設定する */
.oo-img {
    /* ％で画像のサイズを設定する */
    width: 100%;
}

@keyframes float-up-down {
    0% {
        /* 初期位置：縦方向（top）の配置を20%に設定 */
        background-position: right 20% top 20%, center;
    }

    50% {
        /* 中間位置：縦方向を上に少しずらす（20% - 10% = 10%） */
        background-position: right 20% top 10%, center;
    }

    100% {
        /* 終了位置：初期位置に戻る */
        background-position: right 20% top 20%, center;
    }
}

.adjusted-background {
    background-image: url('../img/illust-sanko.png'), url('../img/illust-sanko.png');

    /* 重ねる画像の位置調整 */
    background-position: right 20% top 20%, center;

    /* pxで設定するとサイズ固定、%で設定するとレスポンス対応 */
    background-size: 20% auto, contain;
    background-repeat: no-repeat, no-repeat;

    /* 962px × 721px の縦横比 (721 / 962 * 100) に基づき設定 */
    padding-top: 74.95%;

    background-origin: padding-box, padding-box;

    animation: float-up-down 4s ease-in-out infinite alternate;
}

.price-h1 {
    height: 200px;
}




.test-space-h {
    height: 500px;
}

.test-space {
    background-color: aqua;
    /* padding: 53px 0; */
}

.test-space div {
    height: 500px;
    background-color: pink;
}

.test-space-h {
    height: 500px;
    background-color: rgb(47, 84, 84);
}

.test-space {
    /* padding-top: 6.9vw;
    padding-bottom: 6.9vw; */
}


/* --- PRICE TAB STYLE --- */


.tab-buttons {
    display: none;
}

/* レスポンシブ調整: 1200px以下の時はタブボタンも幅を広げる */
@media only screen and (max-width: 1000px) {
    .two-columns.price-two-columns {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        gap: 6rem;
        display: block;
    }

    .price-tabs {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .price-box-background {
        margin: 0 auto;
    }

    .tab-buttons {
        display: flex;
        width: 100%;
        max-width: 37rem;
        margin-bottom: 2rem;
    }

    .tab-button {
        width: 50%;
        padding: 1.5rem 0;
        font-size: var(--h3-font-size);
        font-weight: bold;
        color: #FFFF;
        background-color: #456496;
        border: none;
        cursor: pointer;
        transition: background-color 0.3s, color 0.3s;
        margin-bottom: -1.5rem;

    }

    .tab-button:first-child {
        border-top-left-radius: 8rem;
    }

    .tab-button:last-child {
        border-top-right-radius: 8rem;
        box-shadow: 1rem 1rem 0 0 #F7F7C3;
    }

    .tab-button.active {
        color: #5275AE;
        background-color: #FFFF;
        position: relative;
    }

    .tab-contents {
        width: 100%;
    }

    .tab-content {
        display: none;
        margin-top: -0.5rem;
        position: relative;
    }

    .tab-content.active {
        display: block;
    }

    .tab-button:not(.active):hover {
        background-color: #23447a;
        color: #F7F7C3;
    }

    .price-box-background h3 {
        display: none;
    }

    .price-box-background {
        border-radius: 0 0 8rem 8rem;
        max-width: 37rem;
        width: 100%;
    }
}


@media only screen and (max-width: 500px) {
    .price-box-background {
        height: 63vw;
        padding: 14vw 0;
        border-radius: 0 0 16vw 16vw;
    }

    .price-table th,
    .price-table td {
        height: 10vw;
    }
}


@media only screen and (max-width: 1200px) {}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 360px) {}






/* ------------------------------------- */
/* ★ RENTALカルーセル用CSSの追加/修正 ★ */
/* ------------------------------------- */


/* 

.carousel-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
    .three-columns.rental-slider {
        width: 100%;
        height: 75vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 0;
        transform: none;
        transition: none;
    }

    .price-rental-content {
        width: 25%;
        max-width: 25%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.8);
        transition: all 1s ease-in-out;
        margin: 0 -1.5vw;
        padding-bottom: 2vw;
    }

    .price-rental-content[data-order="1"] {
        order: 1;
    }

    .price-rental-content[data-order="2"] {
        order: 2;
    }

    .price-rental-content[data-order="3"] {
        order: 3;
    }

    .price-rental-content.is-active {
        width: 50%;
        max-width: 50%;
        transform: scale(1.0);
        opacity: 1.0;
        margin: 0;
        padding-bottom: 0;
    }

    .price-rental-content:not(.is-active) h4 {
        font-size: 1.2rem;
        white-space: nowrap;
    }

    .price-rental-content:not(.is-active) .price-rental-p {
        font-size: 1rem;
        white-space: nowrap;
    }

    .price-rental-content:not(.is-active) .price-rental-img {
        box-shadow: 0.4rem 0.4rem 0 0 #89A4CE;
    }

    .rental-carousel-wrapper {
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin-top: -15vw;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 0.1rem;
    }

    .prev-btn,
    .next-btn {
        background: #5275AE;
        color: white;
        border: none;
        padding: 1rem 3rem;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .prev-btn {
        border-radius: 3rem 0 0 3rem;
    }

    .next-btn {
        border-radius: 0 3rem 3rem 0;
    }

    .prev-btn:hover,
    .next-btn:hover {
        background: #23447a;
        color: #F7F7C3;
    }
} */

.carousel-nav {
    display: none;
}

@media only screen and (max-width: 768px) {
.auto-slider {
        width: 100%;
        height: 87vw;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: flex-end;
        gap: 0;
        transform: none;
        transition: none;
    }

.slider-content > div {
        height: auto;
    }

    .slider-content {
        width: 25%;
        height: 100％;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: scale(0.5);
        transition: all 1s ease-in-out;
        margin: 0 -1.5vw;
        padding-bottom: 2vw;
    }

    .slider-content[data-order="1"] {
        order: 1;
    }

    .slider-content[data-order="2"] {
        order: 2;
    }

    .slider-content[data-order="3"] {
        order: 3;
    }

    .slider-content.is-active {
        width: 50%;
        max-width: 50%;
        transform: scale(1.0);
        opacity: 1.0;
        margin: 0;
        padding-bottom: 0;
    }

    .slider-carousel-wrapper {
        overflow: hidden;
        width: 100%;
        padding: 0;
        margin-top: -15vw;
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
        margin-top: 2rem;
        gap: 0.1rem;
    }

    .prev-btn,
    .next-btn {
        background: #5275AE;
        color: white;
        border: none;
        padding: 1rem 3rem;
        cursor: pointer;
        font-size: 1.5rem;
    }

    .prev-btn {
        border-radius: 3rem 0 0 3rem;
    }

    .next-btn {
        border-radius: 0 3rem 3rem 0;
    }

    .prev-btn:hover,
    .next-btn:hover {
        background: #23447a;
        color: #F7F7C3;
    }
}